# Java compiled files
*.class

# WAR/JAR
*.war
*.jar
*.ear

# IDE files
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# Build / server files
target/
build/
out/
work/
temp/
logs/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Sensitive config
*.properties
*.env
